body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.container {
    width: 40%;
    margin: 50px auto;
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px lightgray;
}

h2 {
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background: royalblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: navy;
}